<!-- Rendered data -->
<div id="name" class="d-none"><%= name %></div>
<div id="roomId" class="d-none"><%= roomId %></div>
<div id="logId" class="d-none"><%= logId %></div>
<!-- Choosing modes -->
<div class="row" id="chooseYourPoison">
    <div class="col-12">
        <div class="btn-group" id="modeBtnGroup" role="group">
            <button type="button" id="bubBtn" class="btn btn-primary rounded-0">Bubble</button>
            <button type="button" id="logBtn" class="btn btn-secondary rounded-0">Chat Log</button>
        </div>
    </div>
</div>
<!-- Bubble mode -->
<div id="bub">
    <div class="row bubbleRow pr-3">
        <div class="col-4 pr-0">
            <div class="card h-100">
                <div class="card-body" style="background-color:lightcoral">
                    <div class="d-flex flex-row justify-content-between" id="header0">
                        <h5 class="card-title usernameH5" id="hd0"></h5>&nbsp;
                        <i id="img0"></i>
                    </div>
                    <p class="card-text bubbleContent" id="0"></p>&nbsp;
                </div>
            </div>
        </div>
        <div class="col-4 px-0">
            <div class="card h-100">
                <div class="card-body" style="background-color:lightsalmon">
                    <div class="d-flex flex-row justify-content-between" id="header1">
                        <h5 class="card-title usernameH5" id="hd1"></h5>&nbsp;
                        <i id="img1"></i>
                    </div>
                    <p class="card-text bubbleContent" id="1"></p>&nbsp;
                </div>
            </div>
        </div>
        <div class="col-4 px-0">
            <div class="card h-100">
                <div class="card-body" style="background-color:lightgoldenrodyellow">
                    <div class="d-flex flex-row justify-content-between" id="header2">
                        <h5 class="card-title usernameH5" id="hd2"></h5>&nbsp;
                        <i id="img2"></i>
                    </div>
                    <p class="card-text bubbleContent" id="2"></p>&nbsp;
                </div>
            </div>
        </div>
    </div>
    <div class="row bubbleRow pr-3">
        <div class="col-4 pr-0">
            <div class="card h-100">
                <div class="card-body" style="background-color:lightgreen">
                    <div class="d-flex flex-row justify-content-between" id="header3">
                        <h5 class="card-title usernameH5" id="hd3"></h5>&nbsp;
                        <i id="img3"></i>
                    </div>
                    <p class="card-text bubbleContent" id="3"></p>&nbsp;
                </div>
            </div>
        </div>
        <div class="col-4 px-0">
            <div class="card h-100">
                <div class="card-body" style="background-color:lightseagreen">
                    <div class="d-flex flex-row justify-content-between" id="header4">
                        <h5 class="card-title usernameH5" id="hd4"></h5>&nbsp;
                        <i id="img4"></i>
                    </div>
                    <p class="card-text bubbleContent" id="4"></p>&nbsp;
                </div>
            </div>
        </div>
        <div class="col-4 px-0">
            <div class="card h-100">
                <div class="card-body" style="background-color:lightskyblue">
                    <div class="d-flex flex-row justify-content-between" id="header5">
                        <h5 class="card-title usernameH5" id="hd5"></h5>&nbsp;
                        <i id="img5"></i>
                    </div>
                    <p class="card-text bubbleContent" id="5"></p>&nbsp;
                </div>
            </div>
        </div>
    </div>
    <div class="row bubbleRow pr-3">
        <div class="col-4 pr-0">
            <div class="card h-100">
                <div class="card-body" style="background-color:plum">
                    <div class="d-flex flex-row justify-content-between" id="header6">
                        <h5 class="card-title usernameH5" id="hd6"></h5>&nbsp;
                        <i id="img6"></i>
                    </div>
                    <p class="card-text bubbleContent" id="6"></p>&nbsp;
                </div>
            </div>
        </div>
        <div class="col-4 px-0">
            <div class="card h-100">
                <div class="card-body" style="background-color:lightslategray">
                    <div class="d-flex flex-row justify-content-between" id="header7">
                        <h5 class="card-title usernameH5" id="hd7"></h5>&nbsp;
                        <i id="img7"></i>
                    </div>
                    <p class="card-text bubbleContent" id="7"></p>&nbsp;
                </div>
            </div>
        </div>
        <div class="col-4 px-0">
            <div class="card h-100">
                <div class="card-body" style="background-color:hotpink">
                    <div class="d-flex flex-row justify-content-between" id="header8">
                        <h5 class="card-title usernameH5" id="hd8"></h5>&nbsp;
                        <i id="img8"></i>
                    </div>
                    <p class="card-text bubbleContent" id="8"></p>&nbsp;
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Chat Log mode -->
<div id="log">
    <div class="card px-3 vh-100" id="logCard">
        <div class="card-body">
            <h5 class="card-title" id="titId"></h5>
            <div id="logBody">
                <p class="card-text">
                    <ul id="logList" style="list-style-type: none;padding:0;"></ul>
                </p>
            </div>
        </div>  
    </div>
</div>
<!-- New chat log user form -->
<form action="/index/chatlog" method="POST" class="d-none" id="chatlogForm">
    <input type="text" name="userId" value=<%= name %>>
    <input type="text" name="roomId" value=<%= roomId %>>
</form>
<!-- Username right click -->
<div class="dropdown-menu dropdown-menu-sm" id="context-menu">
    <button class="dropdown-item" href="#" id="logContextBtn" name="logChangeName" type="submit" form="chatlogForm">ChatLog</button>
    <button class="dropdown-item" href="#" id="dm">Start a DM</button>
    <button class="dropdown-item" href="#" id="block">Block</button>
</div>
<!-- Message right click -->
<div class="dropdown-menu dropdown-menu-sm" id="context-menu-2">
    <button class="dropdown-item" href="#" id="quote">Quote message</button>
    <button class="dropdown-item" href="#" id="edit">Edit message</button>
    <button class="dropdown-item" href="#" id="delete">Delete message</button>
</div>
<!-- Vertical ellipsis left click -->
<div class="dropdown-menu dropdown-menu-sm" id="context-menu-3">
    <button class="dropdown-item" href="#" id="dropdownLog" name="logChangeName" type="submit" form="chatlogForm">ChatLog</button>
    <button class="dropdown-item" href="#" id="dropdownFriend">Start a DM</button>
    <button class="dropdown-item" href="#" id="dropdownBlock">Block</button>
    <button class="dropdown-item" href="#" id="dropdownQuote">Quote message</button>
    <button class="dropdown-item" href="#" id="dropdownEdit">Edit message</button>
    <button class="dropdown-item" href="#" id="dropdownDelete">Delete message</button>
</div>
<!-- External scripts -->
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://unpkg.com/@pusher/chatkit-client@1/dist/web/chatkit.js"></script>
<!-- ChatKit -->
<script type="text/javascript" src="/js/MessageListChatKit.js"></script>
<!-- jQuery -->
<script type="text/javascript" src="/js/MessageListQuery.js"></script>